<h1 style="background-color: rgb(225, 6, 0); color: white;">F1 Ticket order confirmed</h1>
<h2 style="background-color: rgb(0, 0, 0); color: white;">Order details:</h2>
<h3 style="background-color: rgb(0, 0, 0); color: white;">Your Order Number: {{OrderNumber}}</h3>
<h3 style="background-color: rgb(0, 0, 0); color: white;">Username: {{Username}}</h3>
<h3 style="background-color: rgb(0, 0, 0); color: white;">Race: {{RaceCountry}} GP</h3>
<h3 style="background-color: rgb(0, 0, 0); color: white;">Race Date: {{RaceDate}}</h3>
<h3 style="background-color: rgb(0, 0, 0); color: white;">Ticket Type: {{TicketType}}</h3>
<h3 style="background-color: rgb(0, 0, 0); color: white;">Ticket Price: {{TicketPrice}} OMR</h3>
<h3 style="background-color: rgb(0, 0, 0); color: white;">You can check more information on our website F1Tickets.com</h3>
<h3 style="background-color: rgb(0, 0, 0); color: white;">Thank you for ordering from F1 Tickets</h3>

<p>{{QRCodeUrl}}</p>
<img src="{{QRCodeUrl}}"/>
